data/*
lchika/*
pll_test/*
uart/*
cpu_1/*
memory/*
*.exe
!.gitignore
!lchika/*.v
!pll_test/*.v
!uart/*.v
!memory/*.v
!cpu_1/*.v
!cpu_1/*.mif
!cpu_1/*.sdc
!cpu_1/modules/
!cpu_1/tools/
!cpu_1/src/
!cpu_1/uart/
!cpu_1/fpu/
cpu_1/fpu/add
cpu_1/fpu/mul
cpu_1/src/*.bin
*.pyc
*.out
*.bin